@charset "UTF-8";

@import 'general.css';
@import 'card.css';
@import 'media1440.css';

:root {
    --font1: 'Outfit', sans-serif;
    --color-main-bg: hsl(217, 54%, 11%);
    --color-card: hsl(216, 50%, 16%);
    --color-line-card: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-soft-blue:  hsl(215, 51%, 70%);
}



    